<div class="container form-group">
  {{#each staff}}
    <div class="row">
      <div class="col-8">{{this.name}}</div>
      <div class="col-4">
        <select id="{{../prefix}}-{{../type}}-{{this.id}}"
          name="{{../prefix}}-{{../type}}-{{this.id}}"
          class="custom-select"
          data-parsley-errors-container="#{{../prefix}}-errors"
          data-parsley-required-message="You must assign the {{../prefix}} to a pod"
          {{#if ../required}}required{{/if}}>
          <option value="" disabled selected>Select a pod...</option>
          {{#each ../assignment}}
            <option value="{{this.id}}">{{this.assignment}}</option>
          {{/each}}
        </select>
      </div>
    </div>
  {{/each}}
</div>
