<h3>{{Name}}</h3>
<div class="card-block">
  <h4 class="card-title">{{Name}}'s shift {{Date}}-{{D-or-N}}</h4>
  <p class="card-text">&nbsp;</p>
  <input type="hidden" name="shift-id" value="{{Id-Number}}">
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Role: {{Role}}</li>
  <li class="list-group-item">Pod: {{Assignment}}</li>
  <li class="list-group-item">Non-vented: {{NV}}</li>
  <li class="list-group-item">Doubled: {{Double}}</li>
  <li class="list-group-item">Admitted: {{Admit}}</li>
  <li class="list-group-item">Very sick: {{Very-Sick}}</li>
  <li class="list-group-item">Code pager: {{Code-Pager}}</li>
  <li class="list-group-item">CRRT: {{CRRT}}</li>
  <li class="list-group-item">EVD: {{EVD}}</li>
  <li class="list-group-item">Burn: {{Burn}}</li>
</ul>
