
<form id="{{form-id}}" class="form-inline">
  <div class="form-check mb-2 mr-sm-2 mb-sm-0">
    {{#if checkbox}}
      <label class="form-check-label">
        <input class="form-check-input" id="{{item-id}}" type="checkbox"> {{item-display-name}}
      </label>
    {{/if}}

    {{#if select}}
      <label class="mr-sm-2" for="inlineFormCustomSelectPref">
        {{item-display-name}}
      </label>
      <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="{{item-id}}">
        {{#each entry}}
          <option value="{{this.value}}">{{this.text}}</option>
        {{/each}}
      </select>
    {{/if}}
  </div>

  <button class="shift-edit-submit btn btn-primary mr-2">
    <i class="fa fa-check" aria-hidden="true"></i>
  </button>

  <button class="shift-edit-cancel btn btn-danger">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</form>
