{{!--

accepts the following object schema

 {
    "shift": [
        {
            "id": "558",
            "date": "2017-10-13"
        }
    ],
    "shift-count": 15,
    "id": 1,
    "name": "Shanae Feher",
    "category": "",
    "mod-count": [
        {
            "id": "bool_burn",
            "mod": "Burn",
            "count": 1
        }
    ],
    "role-count": [
        {
            "id": 5,
            "role": "Bedside",
            "count": 13
        }
    ],
    "assign-count": [
        {
            "id": 2,
            "assignment": "B",
            "count": 9
        }
    ]
}

--}}

{{!-- Staff Details entries --}}
<input id="staff-id" type="hidden" value="{{id}}">
<h4>Shift details for {{name}}</h4>

<label for="assign-count">Showing assignment data for the last {{shift-count}} shifts:</label>
<ul id="assign-count" class="list-group">
  {{#each assign-count}}
    <li class="list-group-item">
      {{this.assignment}}: <span id="assign-{{this.id}}">{{this.count}}</span>
    </li>
  {{/each}}
</ul>

<label for="role-count">Showing role data for the last {{shift-count}} shifts:</label>
<ul id="role-count" class="list-group">
  {{#each role-count}}
    <li class="list-group-item">
      {{this.role}}: <span id="assign-{{this.id}}">{{this.count}}</span>
    </li>
  {{/each}}
</ul>

<label for="mod-count">Showing workload data for the last {{shift-count}} shifts:</label>
<ul id="mod-count" class="list-group">
  {{#each mod-count}}
    <li class="list-group-item">
      {{this.mod}}: <span id="assign-{{this.id}}">{{this.count}}</span>
    </li>
  {{/each}}
</ul>

<label for="table-shifts">Showing {{shift-count}} shifts:</label>
<table id="table-shifts">
  <thead>
    <tr>
      <th>Date</th><th>Shift</th>
    </tr>
  </thead>
  <tbody>
    {{#each shift}}
      <tr>
        <td>{{this.date}}</td><td><a href="javascript:void(0);" data-shift-id="{{this.id}}">X{{!-- this.code --}}</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
