{{!--

accepts the following object schema

 {
    "shift": [
        {
            "id": "558",
            "date": "2017-10-13"
        }
    ],
    "shift-count": 15,
    "id": 1,
    "name": "Shanae Feher",
    "category": "",
    "mod-count": [
        {
            "id": "bool_burn",
            "mod": "Burn",
            "count": 1
        }
    ],
    "role-count": [
        {
            "id": 5,
            "role": "Bedside",
            "count": 13
        }
    ],
    "assign-count": [
        {
            "id": 2,
            "assignment": "B",
            "count": 9
        }
    ]
}

TODO write helper to get percentage to illustrate the numbers better.
  ex) Assignment B pod; 6 (of 18 shifts, 30%)

--}}

{{!-- Staff Details entries --}}
<input id="staff-id" type="hidden" value="{{id}}">
<h4>Shift details for {{name}}</h4>
<p><a id="choose-another" href="javascript:void(0)"><small>(choose another staff to view)</small></a></p>

{{#if shift}}
  {{#if since-date}}
    <p>Showing the data since {{since-date}}.</p>
  {{/if}}
  {{#unless since-date}}
    <p>Showing the data for the last {{shift-count}} shifts.</p>
    <p><a id="show-all" href="javascript:void(0)"><small>(show all staff person's shifts)</small></a></p>
  {{/unless}}
{{else}}
  <div class="bs-callout bs-callout-info">
    <h4>Note:</h4>
    <p>Staff member does not have any recorded shifts.</p>
  </div>
{{/if}}

{{#if assign-count}}
  <label for="assign-count">Assignment data ({{shift-count}} shifts): </label>
  <ul id="assign-count" class="list-group mb-2">
    {{#each assign-count}}
      <li class="list-group-item">
        {{this.assignment}} : <span id="assign-{{this.id}}">{{this.count}}</span>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if role-count}}
  <label for="role-count">Role data ({{shift-count}} shifts):</label>
  <ul id="role-count" class="list-group mb-2">
    {{#each role-count}}
      <li class="list-group-item">
        {{this.role}} : <span id="role-{{this.id}}">{{this.count}}</span>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if mod-count}}
  <label for="mod-count">Workload data ({{shift-count}} shifts):</label>
  <ul id="mod-count" class="list-group mb-2">
    {{#each mod-count}}
      <li class="list-group-item">
        {{this.mod}} : <span id="mod-{{this.id}}">{{this.count}}</span>
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if shift}}
  <label for="table-shifts">Shift List (Most recent {{shift-count}} shifts):</label>
  <table id="table-shifts" class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">D/N</th>
        <th scope="col">Role</th>
        <th scope="col">Assignment</th>
        <th scope="col">Code</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {{#each shift}}
        <tr>
          <th scope="row">{{this.date}}</th>
          <td>{{this.d-or-n}}</td>
          <td>{{this.role}}</td>
          <td>{{this.assignment}}</td>
          <td>{{this.code}}</td>
          <td><a class="shift-link" href="javascript:void(0);" data-shift-id="{{this.id}}"><i class="fa fa-link" aria-hidden="true"></i></a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
