{{!--

TODO finish this:

table:

name | last role | last pod | number of a | number of b | number of b | number of doubles
-----------------------------------------------------------------------------------------
Ann  | Bedside   | A        | 2           | 0           | 5           | 2


--}}


<!-- Report Display -->
{{if group}}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Shift</th>
        <th>Last Role</th>
        <th>Last Pod</th>
        <th># shifts in A</th>
        <th># shifts in B</th>
        <th># shifts in C</th>
        <th># of shifts doubled</th>
      </tr>
    </thead>
    <tbody>
      {{#each group}}
        <tr><td colspan="8">{{@key}}</td></tr>
        {{#each staff}}
          <tr>
            <td data-staff-id="{{this.id}}">{{this.name}}</td>
            <td>{{this.lastWorked}}</td>
            <td>{{this.lastRole}}</td>
            <td>{{this.lastPod}}</td>
            <td>{{this.aPodCount}}</td>
            <td>{{this.bPodCount}}</td>
            <td>{{this.cPodCount}}</td>
            <td>{{this.doubleCount}}</td>
          </tr>
        {{/each}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No data to display</p>
{{/if}}
