{{!--

--}}

{{!-- Staff Details entries --}}
<input id="shift-details-shift-id" type="hidden" value="{{shift-id}}">
<div class="card-block">
  <h4 class="card-title">{{staff-name}}</h4>
</div>
<ul class="list-group list-group-flush mt-2">
  {{#each item}}
    <li class="list-group-item">
      {{item-name}}: <span id="show-{{item-id}}">{{item-value}}</span>
    </li>
  {{/each}}
</ul>
<table>
  <thead>
    <tr>
      <th>Date</th><th>Shift</th>
    </tr>
  </thead>
  <tbody>
    {{#each shift}}
      <tr>
        <td>{{this.date}}</td><td><a href="javascript:void(0);" data-shift-id="{{id}}">{{this.code}}</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>


<!-- {
    "shifts": [
        {
            "id": "558",
            "date": "2017-10-13"
        }
    ],
    "shift-count": 15,
    "name": "Shanae Feher",
    "category": "",
    "mod-counts": [
        {
            "id": "bool_burn",
            "mod": "Burn",
            "count": 1
        }
    ],
    "role-counts": [
        {
            "id": 5,
            "role": "Bedside",
            "count": 13
        }
    ],
    "assign-counts": [
        {
            "id": 2,
            "assignment": "B",
            "count": 9
        }
    ]
} -->
