{{!--

TODO finish this:

table:

name | last role | last pod | number of a | number of b | number of b | number of doubles
-----------------------------------------------------------------------------------------
Ann  | Bedside   | A        | 2           | 0           | 5           | 2


--}}
<!-- Report Display -->
{{#if groups.length}}
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Shift</th>
        <th scope="col">Last Role</th>
        <th scope="col">Last Pod</th>
        <th scope="col"># shifts in A</th>
        <th scope="col"># shifts in B</th>
        <th scope="col"># shifts in C</th>
        <th scope="col"># doubled</th>
      </tr>
    </thead>
    <tbody>
      {{#each groups}} 
        <tr class="table-secondary"><td colspan="8">{{name}}</td></tr>
        {{#each staff}}
          <tr>
            <td data-staff-id="{{this.id}}" scope="row">{{this.name}}</td>
            <td>{{this.lastWorked}}</td>
            <td>{{this.lastRole}}</td>
            <td>{{this.lastPod}}</td>
            <td>{{this.aPodCount}}</td>
            <td>{{this.bPodCount}}</td>
            <td>{{this.cPodCount}}</td>
            <td>{{this.doubleCount}}</td>
          </tr>
        {{/each}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No data to display</p>
{{/if}}
